<!DOCTYPE html>
<html>
    <head>
        <title> Serviços de Orçamentos</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>

<body  class="bg-primary-subtle min-vh-100">
    <div id="app">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg border-bottom border-dark bg-body-tertiary fs-6 text-body" style="--bs-border-opacity: .5;">
            <div class="container-fluid">
              <a class="navbar-brand" href="/"><i class="bi bi-gear-wide-connected me-1"></i>Oficina Mecânica</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/home">Menu de trabalho</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Colaboradores</a></li>
                    <li class="nav-item"><a class="nav-link" href="">Suporte técnico</a></li>
                </ul>
                <div class="navbar-nav justify-content-left">
                    <a class="nav-link" href="">Área do usuário</a>
                    <button class=" nav-link text-start" data-bs-toggle="modal" data-bs-target="#logoutModal"> Encerrar sessão</button>
                    <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="logoutModalLabel">Encerramento de sessão</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Você está encerrando o sistema. Deseja finalizar sua sessão?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-danger" @click="doLogout()">Finalizar</button>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
    
              </div>
            </div>
        </nav>
        <!--Fim da navbar-->

        <!--Inicio do corpo-->
        <div class="container-fluid p-5 pt-2">
            
            <!--Inicio do primeiro card (título da página)-->
            <div class="card mb-3">
                <div class="card-header">
                    <h1 class="text-center my-3" >Serviços de orçamento</h1>
                </div>
            </div>
            <!--Fim do primeiro card (título da página)-->

            <!--Inicio do sedundo card (serviços)-->
            <div class="card mb-3">
                <div class="card-header text-secondary">
                  Execução de serviços
                </div>
                
                <div class="card-body">
                    <h4 class="card-title fw-semibold">Novos serviços de orçamento recebidos</h4>
                    <p class="card-text text-break">Abaixo estão todos os novos serviços de orçamento aos quais você foi encarregado.
                        Para dar prosseguimento a um serviço, pressione "Executar".
                    </p>
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-9">
                                <table class="table table-sm align-middle text-center table-light table-striped table-hover" v-if="BSlist.length>0">
                                    <tr>
                                        <th>ID de serviço</th>
                                        <th>Cliente</th>
                                        <th>Veículo</th>
                                        <th>Tipo de reparo</th>
                                        <th>Orçamento inicial</th>
                                        <th>Agendamento</th>
                                        <th>Operação</th>
                                    </tr>
                                    <tr v-for="itrS in BSlist" :key="itrS.id">
                                        <td>{{itrS.serviceId}}</td>
                                        <td>{{itrS.client.name}}</td>
                                        <td>{{itrS.vehicle.model + " - " +itrS.vehicle.year}}</td>
                                        <td>{{itrS.repairType}}</td>
                                        <td>{{'$'+itrS.budget.total_cost}}</td>
                                        <td>{{itrS.date.slice(8,10)+'/'+itrS.date.slice(5,7)+'/'+itrS.date.slice(2,4)+' - '+itrS.time}}</td>
                                        <td><button class="btn  btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#executeServiceModal"
                                             @mousedown="doInitiateModalInfo(itrS)">Executar</button></td>
                                    </tr>
                                </table> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Fim do sedundo card (serviços)-->

            <!-- MODAL -->
            <div class="modal " id="executeServiceModal" tabindex="-1" aria-hidden="true" v-if="currSelectedBS!=''">
                <div class="modal-dialog scrollable modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Serviço <small class="lead">#{{currSelectedBS.serviceId}}</small></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      
                        <div class="row">
                            <div class="col-sm-6 mb-3 mb-sm-0">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Informações de cliente</h5>
                                  <div class="container-fluid">
                                    <div class="row justify-content-left">
                                        <div class="col-4">
                                            <strong class="card-text">Nome:</strong>
                                        </div>
                                        <div class="col-auto">
                                            <p class="card-text"> {{currSelectedBS.client.name}}</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-left">
                                        <div class="col-4">
                                            <strong class="card-text">Telefone:</strong>
                                        </div>
                                        <div class="col-auto">
                                            <p class="card-text"> {{`(${currSelectedBS.client.phone.slice(0,2)})${currSelectedBS.client.phone.slice(2,7)}-${currSelectedBS.client.phone.slice(7)}`}}</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-left">
                                        <div class="col-4">
                                            <strong class="card-text">E-mail:</strong>
                                        </div>
                                        <div class="col-auto">
                                            <p class="card-text"> {{currSelectedBS.client.email}}</p>
                                        </div>
                                    </div>
                                  </div>
                                  
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Informações de veículo</h5>
                                  <div class="container-fluid">
                                    <div class="row justify-content-left">
                                        <div class="col-4">
                                            <strong class="card-text">Modelo:</strong>
                                        </div>
                                        <div class="col-auto">
                                            <p class="card-text"> {{currSelectedBS.vehicle.model}}</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-left">
                                        <div class="col-4">
                                            <strong class="card-text">Placa:</strong>
                                        </div>
                                        <div class="col-auto">
                                            <p class="card-text"> {{currSelectedBS.vehicle.licensePlate}}</p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-left">
                                        <div class="col-4">
                                            <strong class="card-text">Ano:</strong>
                                        </div>
                                        <div class="col-auto">
                                            <p class="card-text"> {{currSelectedBS.vehicle.year}}</p>
                                        </div>
                                    </div>
                                </div>
                                  
                                </div>
                              </div>
                            </div>
                            
                        </div>
                        
                        <div class="row mt-2">
                            <div class="col-sm-12">
                                <div class="card">
                                  <div class="card-body">
                                    <h5 class="card-title">Informações de reparo</h5>
                                    <div class="container-fluid">
                                      <div class="row justify-content-left">
                                          <div class="col-4">
                                              <strong class="card-text">Tipo de reparo:</strong>
                                          </div>
                                          <div class="col-auto">
                                              <p class="card-text"> {{currSelectedBS.repairType}}</p>
                                          </div>
                                      </div>
                                      <div class="row justify-content-left">
                                          <div class="col-4">
                                              <strong class="card-text">Horário agendado:</strong>
                                          </div>
                                          <div class="col-auto">
                                              <p class="card-text"> {{currSelectedBS.date.slice(8,10)+'/'+currSelectedBS.date.slice(5,7)+'/'+currSelectedBS.date.slice(2,4)+' - '+currSelectedBS.time}}</p>
                                          </div>
                                      </div>
                                      <div class="row justify-content-left">
                                          <div class="col-4">
                                              <strong class="card-text">Descrição do problema:</strong>
                                          </div>
                                          <div class="col-auto">
                                              <p class="card-text"> {{currSelectedBS.details}}</p>
                                          </div>
                                      </div>
                                  </div>
                                    
                                  </div>
                                </div>
                              </div>
                        </div>
                        
                        <div class="row mt-2">
                            <h5 class="modal-title">Execução de serviço</h5>
                            <p class="modal-text text-break">Preencha o formulário abaixo com sua avaliação a respeito do problema relatado 
                                e pressione "Enviar" para dar continuidade ao serviço. Lembre-se de consultar os valores das peças a serem utilizadas no 
                                <a href="/busca_pecas" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">estoque</a>
                                .
                            </p>
                            <div class="container-fluid">
                                <div class="row justify-content-center">
                                    <form id="executeBSForm" @submit.prevent="doFinishBS()">
                                        <div class="container-fluid">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"  v-model="currSelectedBSForm.doable">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">
                                                    {{(currSelectedBSForm.doable==true)? 'É possível realizar este reparo.':'Não é possível realizar este reparo.'
                                                    }}</label>
                                            </div>
                                            <div v-if="currSelectedBSForm.doable">
                                                <div class="row mt-2">
                                                    <div class="col-4">
                                                        <label for="handworkPrice" class="col-form-label">Preço de mão-de-obra</label>
                                                    </div>
                                                    <div class="col-2">
                                                        <input type="number" id="handworkPrice" v-model="currSelectedBSForm.handworkPrice" min="0" class="form-control" title="Insira somente números" required>
                                                    </div>
                                                    <div class="col-6"><p class="form-text">Insira o valor da mão de obra deste serviço.<br> Use somente dígitos.</p></div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <label for="partsPrice" class="col-form-label">Preço de peças utilizadas</label>
                                                    </div>
                                                    <div class="col-2 container-fluid">
                                                        <input type="number" id="partsPrice"  v-model="currSelectedBSForm.partsPrice" min="0" class="form-control align-self-center" title="Insira somente números" required>
                                                    </div>
                                                    <div class="col-6">
                                                        <p class="form-text">Insira o valor das peças utilizadas no serviço.<br>
                                                             Use somente dígitos e consulte o estoque para referência.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <label for="comments" class="form-label" v-if="currSelectedBSForm.doable">Detalhes de serviço</label>
                                                    <label for="comments" class="form-label" v-else>Justificativa de impossibilidade</label>
                                                    <textarea class="form-control" id="comments" rows="3" v-model="currSelectedBSForm.comments" required></textarea>
                                                    <p class="form-text" v-if="currSelectedBSForm.doable">Escreva acima os detalhes do serviço executado. 
                                                    Lembre-se que esses detalhes serão visíveis ao cliente.</p>
                                                    <p class="form-text" v-else>Descreva acima o motivo pelo qual não é possível realizar o reparo requisitado. Lembre-se que esses detalhes serão visíveis ao cliente.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                      <button  type="submit" form="executeBSForm" class="btn btn-success">Enviar</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <!--Fim do corpo-->
        <div id="alertPlaceHolder"  class="position-fixed bottom-0 end-0 p-3"></div>
    </div>
</body>
<script>
function appendAlert(message, type, id,ms){
    let alertPlaceholder = document.getElementById(id)
    let wrapper = document.createElement('div');
    wrapper.innerHTML = [
        `<div class="row alert alert-${type} alert-dismissible show" role="alert">`,
        `   <div class="col-auto small">`,
        `     <i class="col-1 ${(type=='success')? 'bi bi-check-circle-fill':'bi bi-exclamation-triangle'}"></i>`,
        `     <span>${message}</span>`,
        '   </div>',
        '   <button type="button" class="col-1 btn-close" data-bs-dismiss="alert" aria-label="Close" id="alertCloseBtn"></button>',
        '</div>'
    ].join('');

    alertPlaceholder.appendChild(wrapper);
    setTimeout(()=> {
        document.getElementById('alertCloseBtn').click();
    },ms);
}

function initiateModalInfo(selectedService){
    app.currSelectedBS=selectedService; 
    app.currSelectedBSForm.handworkPrice='';
    app.currSelectedBSForm.partsPrice='';
    app.currSelectedBSForm.comments='';
    app.currSelectedBSForm.doable=false;
}

async function updateBSServicesTable(){
    var request = axios({
                "method": "get",
                "url": "/budget"});
    try {
        var response = await request;
        let selectedList;
        for (itrS of response.data){
            let index = app.BSlist.findIndex( (element) => element.serviceId == itrS.serviceId);
            if (index!=-1){
                app.BSlist[index]=itrS;
            } else {
                app.BSlist.push(itrS);
            }
        }
    } catch (error) {
        console.error(error); 
        return
    }
}

async function finishBudgetService(){
    if (/^([a-zA-ZÀ-ÿ'0-9:,./!]+[ ]*[a-zA-ZÀ-ÿ'0-9:,./!]+)+$/.test(app.currSelectedBSForm.comments)==false){
        appendAlert('Campo de detalhes preenchido incorretamente. Reescreva-o e tente novamente.','warning','alertPlaceHolder',3000);
        return
    }

    const modalEl = document.getElementById('executeServiceModal');
    const modalBooststrap = bootstrap.Modal.getOrCreateInstance(modalEl);
    modalBooststrap.hide();

    var request = axios({
                "method": "put",
                "url": '/budget/manage/'+app.currSelectedBS.serviceId,
                "headers": { "Content-Type": "application/json" },
                "data":JSON.stringify(app.currSelectedBSForm)});
    try {
        var response = await request;
        let index = app.BSlist.findIndex((element) => element.serviceId == app.currSelectedBS.serviceId);
        app.BSlist.splice(index,1);
        appendAlert('Serviço executado com sucesso!','success','alertPlaceHolder',2500);
        updateBSServicesTable();

    } catch (error){
        console.error(error);
        appendAlert(errr.response.data,'success','alertPlaceHolder',2500);
        return;
    }
}

async function logout(){
    var request = axios({
                "method": "delete",
                "url": "/login"});
    try {
        var response = await request;
        window.open('/','_self');
    } catch (error) {
        console.error(error);
        return;
    } 
}

var configdata = {
    el: '#app',
    data: {
        BSlist : [],
        currSelectedBS : '',
        currSelectedBSForm: {handworkPrice: '', comments:'', partsPrice:'', doable:false},
        budgetServices: [],

    },
    methods: {
        doInitiateModalInfo : initiateModalInfo,
        doFinishBS : finishBudgetService,
        doLogout: logout
    }  
}

var app;
    window.onload = () => {
    app = new Vue(configdata);
    updateBSServicesTable();
} 

</script>